Checks: '
        -*,
        readability-identifier-naming,
        bugprone-*,
        modernize-*,
        -modernize-use-trailing-return-type,
        -bugprone-easily-swappable-parameters
        '

CheckOptions:
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: readability-identifier-naming.ClassCase
      value: 'lower_case'
    - key: readability-identifier-naming.FunctionCase
      value: 'lower_case'
    - key: readability-identifier-naming.VariableCase
      value: 'lower_case'

HeaderFilterRegex: '^((?!/usr/include/|./external/).)*$'