Checks: '-*,bugprone-*,modernize-*,-modernize-use-trailing-return-type,-bugprone-easily-swappable-parameters'

CheckOptions:
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
