Hover:
  ShowAKA: Yes
Diagnostics:
  UnusedIncludes: Strict
  Suppress: ['/usr/*', './external/']
Index:
  Background: Build
  StandardLibrary: Yes
InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 0 # 0 - mean no limit
Completion:
  HeaderInsertion: Never # It not correct work for module code, useless
Style:
  QuotedHeaders: "src/.*"
  AngledHeaders: ['/usr/.*', './external/.*']
# Documentation:
#   CommentFormat: Doxygen
If:
  PathMatch: [ .*\.cppm, .*\.cxxm, .*\.cxx, .*\.cpp ]
CompileFlags:
  Add: [-std=c++23]
  Compiler: clang++
---
If:
  PathMatch: [ .*\.c, .*\.cc ]
CompileFlags:
  Compiler: clang
